 *{
 	font-family: 'Roboto', 'sans-serif';
 	font-weight:100;
 	 -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
 }
 html,body{
        width:100%;
        height:100%;
        margin:0;
        padding:0;
        
        background-color:#0288D1;
    }

    .MD-shadow-level-1{
    	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }

    .MD-shadow-level-2{
    	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }

    .MD-shadow-level-3{
    	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }

    .MD-shadow-level-4{
    	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }

    .MD-shadow-level-5{
    	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }

    button{
    	background-color:#4CAF50;
    	border:none;
    	border-radius: 5px;
    	padding:10px;
    	color:white;
    	font-family: 'Roboto', 'sans-serif';
    	font-size: 15px;
    	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    	transition:0.25s box-shadow;
    }
    button:hover{
    	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }

    button:disabled{
    	background-color:#727272;
    	color:#B6B6B6;
    	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }

    div.checkboxContainer{
    	position: relative;
    	white-space: nowrap;
    	margin:0 10px;
    }
    div.checkbox{
		display: inline-block;
		position: relative;
		margin: 0px 10px;
		float:left;
    }
    #checkboxContainer div{
    	display: inline-block;
    }
    input[type="checkbox"]{
    	display: none;
    }
    input[type="checkbox"]:checked + label{
    	  border-top: 2px solid transparent;
		  border-left: 2px solid transparent;
		  border-right: 2px solid #4CAF50;
		  border-bottom: 2px solid #4CAF50;
		  transform: rotateZ(40deg) translate(4px,-6px);
		  width: 50%;
		  height: 80%;
  		
    }
    input[type="checkbox"] + label{
    	display: inline-block;
    	height:100%;
		width:100%;
		border:1px solid #727272;
		transform:rotateZ(0deg) translate(0px);
		transition: transform 0.2s, border 0.2s, width 0.2s;
    	/*background-position: 0 0;*/
    	/*background-image: url("https://cssanimation.rocks/assets/images/posts/steps/twitter_fave.png");*/
    }

    input[type="text"]{
    	border:none;
    	border-bottom:1px solid #727272;
    	background-color:rgba(0, 0, 0, 0);
    	outline:none;
    	transition:0.2s border;
    	font-size: 100%;
    	font-weight:300;
    }
    input[type="text"]:focus{
    	border:none;
    	border-bottom:2px solid #4CAF50;
    	background-color:rgba(0, 0, 0, 0);
    	outline:none;
    }

    #canvas{
        margin:0 auto;
        margin:10px 10px;
    }

    #help{
    	position: absolute;
		z-index: 1;
		top: 20px;
		left: 50%;
		margin-left: -200px;
		width: 400px;
		background: rgba(0,0,0,0.6);
		color: whitesmoke;
		display: none;
	}

	#help li{
		list-style: none;

	}	

	#dropBox{
		display: none;
		position: absolute;
		top:50%;
		margin-top:-65px;
		left:50%;
		margin-left:-200px;
		width:400px;
		padding:50px 25px;
		border: 2px dashed #bbb;
		border-radius: 5px;
		font-size: 20pt; 
		text-align: center;
		color:#bbb;
		background: rgba(0,0,0,0.1);
	}

	.dragged-over #dropBox{
		display: block;
	}
	#toolbarContainer{
		float:left;
		top:0px;
	}
	.tools{
		position: absolute;
		top:0px;
	}
	#toolbox{
		float:left;
	}

	#toolbox ul{
		list-style-type: none;
	}

	#toolboxList > li:nth-child(1n+0){
		/*border:1px solid #0288D1;*/
		background-color: #4CAF50;
		color:white;
	}

	#toolboxList > li{
		-webkit-transition: all 0.25s;
		padding:10px;
		border-radius: 5px;
	}

	#toolboxList > li{
		display: block;
		/*border:1px solid;*/
		margin: 5px;
		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
		height: 15px;
	}

	#toolboxList > li.selected{
		position: relative;
		display: block; 
		margin: 5px;
		box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
		height: auto;
	}


	#toolboxList > li > div {
	 	display: none;
	}

	#toolboxList > li.selected > div {
	 	display: block;
	}

	#toolbarContainer > ul{
		list-style-type: none;
	}
	
	#toolbarContainer  li{
		float:left;
		margin:0 10px;
	}

	#titleContainer{
    	position: absolute;
		z-index: 1;
		top: 20px;
		left: 50%;
		margin-left: -200px;
		width: 400px;
		font-size: 25px;
		text-align: center;
	}
